:root {
    /* (Colors By ZealotzTheOriginal) */

    /* (Backgrounds) */
    --bg-100: #180e1e;
    --bg-200: #211324;
    --bg-300: #2b192d;
    --bg-400: #322037;

    /* (Accents) */
    --acc-100: #30f7b1;
    --acc-200: #a6fbff;
    --acc-300: #b2e1ff;

    /* (Foregrounds) */
    --fg-100: #ffffff;
    --fg-200: #e3e0fb;

}